---
  import Marquee from "@/components/ui/marquee";
  const testimonials = [
    '/images/testimonials/testimonial_1.jpeg',
    '/images/testimonials/testimonial_2.jpeg',
  ]
---
  <section class="my-12">
    <div class="container mx-auto">
      <h2 class="font-black font-raleway text-2xl md:text-5xl text-balance text-center mb-8">Clientes felices: Nuestro orgullo, nuestros mejores voceros</h2>
    </div>
    <Marquee pauseOnHover={true} class="[--duration:20s]">
      {testimonials.map((testimonial) => (
        <img class="testimonial-img w-[200px] md:w-[350px]" src={testimonial} alt="testimonial" />
      ))}
    </Marquee>
    <Marquee reverse={true} pauseOnHover={true} class="[--duration:20s]">
      {testimonials.map((testimonial) => (
        <img class="testimonial-img w-[200px] md:w-[350px]" src={testimonial} alt="testimonial" />
      ))}
    </Marquee>
  </section>

<style>
  .testimonial-img {
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: 1/1;
    filter: grayscale(80%);
    transition: filter 0.3s ease-in-out;
  }

  .testimonial-img:hover {
    filter: grayscale(0%);
  }
</style>