---
import '@/styles/globals.css';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Whatsapp from '@components/Whatsapp.astro';
import Footer from '@components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';


interface Props {
	title: string;
  description: string;
  hasHero: boolean;
  image: string;
}

const { title, hasHero = true, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <GoogleAnalytics />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- SEO  -->
    <meta name="description" content={description} />
    <meta property="author" content="Matheus" />
    
    <!-- OG Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
		<title>{title}</title>
    <ViewTransitions />
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '581678747561230');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=581678747561230&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
	</head>
	<body>
    <Header />
    {hasHero && <Hero />}
		<slot />
    <Footer />
    <Whatsapp />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: 'Lato', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
  .container{
    width: 90%;
    max-width: 1152px;
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

</style>
